/* General Styles */
.product-list-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #d5d5d5;
  padding: 20px;
}

.sidebar-products-container {
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.PLsidebar {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  background: #dcae30;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
}

.PLsidebar h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.PLsidebar input,
.PLsidebar select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Product Cards */
.product-cards-container {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  opacity: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.allproduct-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.allproduct-card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 10px 20px rgb(220, 174, 48,0.8)); /* Add drop shadow effect */
}

.productimg img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.allproduct-card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.allproduct-card p:last-child {
  margin-bottom: 0;
}

.rating-favorite-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  margin-left: 250px;
  
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  margin: 0 5px;
}

.pagination-button button {
  background-color: #dcae30;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button button:hover {
  background-color: #b11616;
}