.dashboard-container {
  display: flex;
  
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, white, #d5d5d5 60%);
  padding: 20px;
  
  
}

/* Sidebar */
.sidebar {
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  background: #dcae30;
  border-radius: 10px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.5);
  opacity: 90%;
}

.sidebar h2 {
  margin-top: 0;
  color: black;
  margin-bottom: 30px;
  

 
}
.main-content h2{
  color: black;
  text-decoration: underline;
 margin-left: 10px;
}

.secondcont{

  height: 350px;
  background-color: #dcae30;
  border-radius: 10px;
  margin-top: 20px;
}



.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 30px;
  position: relative;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}


.sidebar a:hover{

  color: white;
  
}



.sidebar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;

}

.sidebar a:hover::after,
.sidebar a.active::after {
  transform: scaleX(1);
}


/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  background:white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  margin-left: 10px;
  opacity: 90%;
}

.dashbcontainers {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.userscontainer, .productscontainer, .orderscontainer, .totalincom {
  flex: 1;
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
  background: #dcae30;
  height: 20vh;
  
  
}
.userscontainer img,
.productscontainer img,
.orderscontainer img,
.totalincom img {
  max-width: 35px;
  margin-top: 15px;
  margin-left: 160px;
  
  
 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .main-content {
    margin-left: 0;
    border-radius: 0 0 10px 10px;
  }

  .dashbcontainers {
    flex-direction: column;
  }
}