@font-face {
    font-family: 'myfont';
    src: 
         url('../../fonts/myfont.ttf') format('truetype');
    /* Add additional font formats if necessary */
    /* Specify the correct path to the font files */
  }
  
  body {
    font-family: 'myfont', sans-serif;
  }


.loginsignup {
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(180deg, #F0ECE5, #B6BBC4 60%);
    padding-top: 60px;
    padding-bottom: 20px;
}

.loginsignup-container {
    width: 90%;
    max-width: 550px;
    background: white;
    margin: auto;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 20px rgb(48, 49, 77,0.3));
}

.loginsignup-fields {
    position: relative;
    margin-bottom: 20px;
}

.loginsignup-fields input {
    width: 100%;
    padding: 10px 10px 10px 60px; /* Increased padding-left for more space */
    font-size: 16px;
    margin-top: 10px;
    box-sizing: border-box;
    height: 60px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 20px;
}

.loginsignup-fields .icon {
    position: absolute;
    left: 20px; /* Positioned closer to the left edge */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
}

.loginsignup-container h1 {
    margin: 10px 0px;
}

.loginsignup-container button {
    width: 100%;
    height: 60px;
    color: white;
    background: #B6BBC4;;
    margin-top: 30px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.loginsignup-container button:hover {
    background: #31304D;
}

.loginsignup-login {
    margin-top: 20px;
    color: #31304D;
    font-size: 16px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #31304D;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .loginsignup-container h1 {
        font-size: 22px;
        margin: 0px;
    }

    .loginsignup-container {
        padding: 30px 20px;
    }

    .loginsignup-fields input {
        padding-left: 40px; /* Adjust padding-left for smaller screens */
        font-size: 16px;
        height: 50px;
    }

    .loginsignup-fields {
        gap: 15px;
    }

    .loginsignup-container button {
        height: 50px;
        margin-top: 20px;
        font-size: 17px;
    }
}

.message {
    position: fixed;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    z-index: 1000;
    animation: slide-down-up 3s ease-in-out forwards;
  }
  
  .success {
    background-color: #4caf50;
    color: white;
  }
  
  .error {
    background-color: #f44336;
    color: white;
  }
  
  @keyframes slide-down-up {
    0% {
      transform: translateY(-200%) translateX(-50%); /* Start off-screen */
    }
    20% {
      transform: translateY(20px) translateX(-50%); /* Slide down to the adjusted position */
    }
    80% {
      transform: translateY(20px) translateX(-50%); /* Stay in place */
    }
    100% {
      transform: translateY(-200%) translateX(-50%); /* Slide back up off-screen */
    }
  }
  
  
  
  
