.shop-category {
  max-width: 1360px;
  margin: 20px auto;
  padding: 20px;
}

.category-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-heading hr {
  flex: 1;
  height: 5px;
  background-color: black;
  margin: 0 10px;
  border: none;
}

.category-heading h1 {
  margin: 0;
  white-space: nowrap; /* Prevent wrapping */
}

.shopcategory-indexSort {
  margin-bottom: 20px;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 50px;
  margin-top: 40px;
}

.scproduct-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #F0ECE5;
  padding: 10px;
}

.scproduct-card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0px 10px 20px rgb(48, 49, 77,0.8)); /* Add drop shadow effect */
}

.productimg img {
  width: 100%;
  object-fit: cover;
  
}

.product-details {
  padding: 15px;
}

.product-details h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.product-details p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.rating-favorite-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Rating-container {
  margin-right: 10px;
}

.Heart-container {
  margin-left: 10px;
}

.scpagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.scpagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.scpagination li {
  display: inline-block;
  margin: 0 5px;
}

.scpagination li button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.scpagination li button:hover {
  background-color: #31304D;
  color: #F0ECE5;
}
