/* Perfumetypes.css */
.container {
  text-align: center;
}




.perfumetypes {
  display: flex;
  gap: 20px; /* Space between the items */
}

.perfume-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.perfume-item img {
  max-width: 100%;
  height: auto;
}

.perfume-item hr {
  width: 100%;
  margin: 10px 0;
}

.perfume-item p {
  margin: 0;
}
