.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
}

.popular h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.popular hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.popular-product-card {
    display: flex;
    flex-direction: column;
    width: calc(20% - 20px); /* Adjust width to fit four cards in one row */
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, filter 0.2s; /* Include filter in the transition */
    background-color: white; /* Ensure the card has a background color */
}

.popular-product-card:hover {
    transform: translateY(-5px);
    filter: drop-shadow(0px 10px 20px rgba(220, 174, 48, 0.8)); /* Add drop shadow effect */
}

.productimg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.popular-product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.popular-product-details h3 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.popular-product-details p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.rating-favorite-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* ---------- media query------------ */

@media (max-width: 1024px) {
    .popular-product-card {
        width: calc(33.33% - 20px); /* Three cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .popular h1 {
        font-size: 30px;
    }
    .popular hr {
        width: 80px;
        height: 4px;
    }
    .popular-product-card {
        width: calc(50% - 20px); /* Two cards per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .popular-product-card {
        width: 100%; /* One card per row on mobile screens */
    }
}
